<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Best Restaurant recommendation for human">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>HungryZone - Restaurants Apps</title>
</head>
<body>
    <a href="#mainContent" class="skip__link" tabindex="1">Skip to Content</a>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <a href="/">
                <img src="images/logo/Logo Restaurant.png" alt="Restaurant Website Logo" class="nav__logo__only">
                <img src="images/logo/Logo Restaurant text.png" alt="Restaurant Website Logo" class="nav__logo">
            </a>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/dewapalguna900" target="_blank">About Me</a></li>
            </ul>
        </nav>
    </header>

    <div class="hero" tabindex="0" aria-label="Hero Image. People eating at restaurant">
        <div class="hero__inner">
            <h1 class="hero__title" tabindex="0">Jangan biarkan perutmu kelaparan</h1>
            <p class="hero__tagline" tabindex="0">Manjakan perutmu dengan makan sepuas-puasnya di restoran mewah bin lezat</p>
        </div>
    </div>

    <main id="mainContent"></main>

    <footer tabindex="0">
        <p>
            Copyright © 2021 - HungryZone Apps
        </p>
    </footer>
</body>
</html>