<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Best Restaurant recommendation for human">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <title>HungryZone</title>
</head>
<body>
    <header class="app-bar">
        <div class="app-bar__menu">
            <button id="hamburgerButton">☰</button>
        </div>
        <div class="app-bar__brand">
            <a href="/">
                <img src="images/logo/Logo Restaurant.png" alt="Restaurant Website Logo" class="nav__logo__only">
                <img src="images/logo/Logo Restaurant text.png" alt="Restaurant Website Logo" class="nav__logo">
            </a>
        </div>
        <nav id="navigationDrawer" class="app-bar__navigation">
            <ul>
                <li><a href="#/">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://github.com/dewapalguna900" target="_blank">About Me</a></li>
            </ul>
        </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
        <p>
            Copyright © 2021 - HungryZone Apps
        </p>
    </footer>
</body>
</html>