@media screen and (min-width: 650px) {
  .app-bar {
    height: auto;
    grid-template-columns: 1fr auto;
    padding: 8px 32px;
  }

  .app-bar .app-bar__brand {
    position: static;
    transform: translate(0, 0);
  }

  .app-bar .app-bar__brand .nav__logo__only {
    display: none;
  }

  .app-bar .app-bar__brand .nav__logo {
    display: block;
    width: 200px;
  }

  .app-bar .app-bar__menu {
    display: none;
  }

  .app-bar .app-bar__navigation {
    position: static;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .app-bar .app-bar__navigation ul li {
    display: inline-block;
  }

  .app-bar .app-bar__navigation ul li a {
    display: inline-block;
    width: 120px;
    text-align: center;
    margin: 0;
  }

  .hero {
    min-height: 450px;
  }

  .hero__inner {
    max-width: 750px;
  }

  .hero__title {
    font-size: 48px;
  }

  .hero__tagline {
    font-size: 24px;
  }

  .restaurants {
    grid-template-columns: 1fr 1fr;
  }

  .restaurant {
    grid-template-columns: auto 1fr;
  }

  .restaurant .restaurant__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .restaurant .restaurant__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 850px) {
  .restaurants {
    grid-template-columns: repeat(3, 1fr);
  }

  .review__list__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .restaurants {
    grid-template-columns: repeat(4, 1fr);
  }

  .review__list__wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .hero__inner {
    max-width: 800px;
  }

  .hero__title {
    font-size: 56px;
  }

  .hero__tagline {
    font-size: 30px;
  }
}

@media screen and (min-width: 1600px) {
  .restaurants {
    grid-template-columns: repeat(5, 1fr);
  }

  .review__list__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }

  .hero__title {
    font-size: 60px;
  }

  .hero__tagline {
    font-size: 35px;
  }
}
